h1 {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60pt;
  font-weight: lighter;
  font-family: "Helvetica";
  color: white;
}

p {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50pt;
  font-weight: lighter;
  font-family: "Helvetica";
  color: white;
}

body {
  background: #006CB4;
}

button {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
}

.squelch {background-color: #ff99ff;}
.squelch:hover {background-color: #ff66ff;}
