h1 {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60pt;
  font-weight: lighter;
  font-family: "Helvetica";
  color: white;
}

h1:hover {
  color: #EF959C;
}

p {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50pt;
  font-weight: lighter;
  font-family: "Helvetica";
  color: white;
}

p:hover {
  color: #F9A620;
}

body {
  background: #A8D5E2;
}

.home {
  background: #A8D5E2;
}

.hello {
  background: #FFD449;
}